@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: black;
}

.clock-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    height: 320px;
    width: 320px;
    border-radius: 50%;
    box-sizing: content-box;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
}

#clock1 {
    background: rgb(255, 220, 226);
    border: 14px solid rgb(255, 164, 180);
}

#clock2 {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border: 5px solid rgba(255, 255, 255, 0.6);
}

.hand {
    position: absolute;
    margin: auto;
    border-radius: 5px;
    transform-origin: bottom;
    bottom: 160px;
}

.hand1 {
    background-color: white;
}

.hand2 {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
}

.hour {
    height: 60px;
    width: 9px;
}

.minute {
    height: 80px;
    width: 5px;
}

.second {
    height: 90px;
    width: 3px;
}

.second1 {
    background-color: rgb(255, 164, 180);
}

.middle-circle {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    position: absolute;
}

.pink-circle {
    background-color: rgb(255, 164, 180);
}

.blur-circle {
    background-color: rgba(255, 255, 255, 0.9);
}

.layer {
    fill: white;
    font-size: 42.23796081542969px;
    font-family: 'Work Sans', sans-serif;
}

#svg2 {
    opacity: 0.6;
}